.yellow {
	background-color: yellow;
	width: 25%;
	height: 100px;
	float: right;
}
.red {
	background-color: red;
	width: 25%;
	height: 100px;
	float: right;
}
.blue {
	background-color: blue;
	width: 25%;
	height: 100px;
	float: right;
}
.big {
	border: 1px solid teal;
	width: 600px;
}